[submodule "include/pico-sdk"]
	path = include/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "include/PicoLed"]
	path = include/PicoLed
	url = https://github.com/ForsakenNGS/PicoLED.git
[submodule "include/VTNCRW"]
	path = include/VTNCRW
	url = https://github.com/Day-OS/VTNCRW-LIB
